<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제목 입력</title>
    <link rel="icon" href="./../assets/images/favicons/favicon.ico" type="image/x-icon">
    <link rel="SHORTCUT ICON" href="./../assets/images/favicons/favicon.ico">
    <link rel="stylesheet" href="./../assets/css/reset.css">
    <link rel="stylesheet" href="./../assets/css/layout.css">
    <link rel="stylesheet" href="./../assets/css/common.css">
    <link rel="stylesheet" href="./../assets/css/vendor/vendor.css">
    <script type="text/javascript" src="./../assets/js/vendor/vendor.js"></script>
</head>
<body>
    <!-- skip : Start -->
    <nav class="skip--nav">
        <a href="">전체 메뉴 바로가기</a>
        <a href="">컨텐츠 영역 바로가기</a>
    </nav>
    <!-- //skip : End -->
    <!-- wrapper : Start -->
    <div class="wrapper">
        <!-- header : Start -->
        <header id="header" class="header">
            <div class="header--inner">
                {% block header %}
                {% endblock %}
            </div>
        </header>
        <!-- //header : Start -->
        <!-- main container : Start -->
        <main id="main" class="container">
            {% block content %}
            {% endblock %}
        </main>
        <!-- //main container : Start -->
        <!-- footer : Start -->
        <footer id="footer" class="footer">
            <div class="footer--inner">
                이곳은 푸터에요.
            </div>
        </footer>
        <!-- //footer : End -->
    </div>
    {% block wrapperNext %}
    {% endblock %}
    <!-- wrapper : End -->
    <script type="text/javascript" src="./../assets/js/common-pub.js"></script>
</body>
</html>