<!-- popup : Start -->
<div class="popup" data-popup="popupTest">
    <div class="popup--inner">
        <div class="head">
            <div class="head--inner">
                <button type="button" data-popup-close="popupTest"><i class="icon"></i><span class="blind">닫기</span></button>
            </div>
        </div>
        <div class="body">
            <div class="body--inner">
                <!-- 팝업 컨텐츠 -->
                팝업 컨텐츠
                <!-- //팝업 컨텐츠 -->
            </div>
        </div>
        <div class="foot">
            <div class="foot--inner">
                <button type="button" data-popup-close="popupTest">취소</button>
                <button type="button" data-popup-close="popupTest">확인</button>
            </div>
        </div>
    </div>
</div>
<!-- //popup : End -->